@import url(./root.css);
.bg-image{
    background-image:url(/assets/image/png/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.py-64{
    padding-top: 64px;
    padding-bottom: 64px;
}
.max-width-592{
    max-width: 592px;
}
.bg-image::after {
    background-color: #ff0000bf;

    content: "";
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
    right: 0%;
    left: 0%;
    border-radius: 20px;
  }
  .box{
    z-index: 1;
  }
  .font-family{
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .btn-padding{
    padding: 20px 32px;
  }
 